<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>disabled</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>
            <button ng-disabled="mySwitch">click me </button>
        </p>
        <p>
            <input type="checkbox" ng-model="mySwitch"> 
            <label ng-show="mySwitch">不可以点</label>
            <label ng-hide="mySwitch">可以点</label>
            <br>
            <input type="checkbox" ng-model="mySwitch">
            <label>是否置灰</label>
        </p>

        <p>{{mySwitch}}</p>


        
    </div>
</body>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script>
    angular.module('myApp',[]).controller('myCtrl',function($scope){
        $scope.mySwitch = true
    })
</script>
</html>