<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>表单验证</title>
<style>
    input.ng-invalid{
        background-color: #f00;
    }
</style>
</head>
<body>
    <form action="" ng-app="" name="myForm" ng-init="myText='test@ssc.com';myVal1=['dog','cat','cow']">
        Email:
        <input type="email" name="myAddress" ng-model="myText" required>
        <h1>状态</h1>
        <p>Valid: {{myForm.myAddress.$valid}} (如果输入的值是合法的则为true)</p>
        <p>Dirty: {{myForm.myAddress.$dirty}} (如果值改变则为true)</p>
        <p>Touched: {{myForm.myAddress.$touched}} (是否已经被选中过true)</p>
        <p>pristine: {{myForm.myAddress.$pristine}} (是否还纯洁，未被修改过是纯洁)</p>
        <hr>

        <input name="myName" ng-model="text" required>



        <hr>

        <!-- 单选框 -->
        <p>
            <input type="radio" ng-model="myVal" value="dog">狗
            <input type="radio" ng-model="myVal" value="cat">猫
            <input type="radio" ng-model="myVal" value="cow">牛
        </p>
        <!-- 多选 -->
        <p>
            <select ng-model="myVal" ng-options="x for x in myVal1"></select>
        </p>
        <!-- ng-switch 专门为单选多选按钮设计的显示隐藏控制 -->
        <div ng-switch="myVal">  
            <p ng-switch-when="dog">这是一条狗</p>
            <p ng-switch-when="cat">这是一只猫</p>
            <p ng-switch-when="cow">这是一头牛</p>
        </div>
    </form>
</body>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script>
    
</script>
</html>